@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background: #fcfdfd url('../images/bg.gif') repeat;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.e-header {
  display: block;
  padding: 10px 0;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
  &__counter {
    display: inline-block;
    color: #858585;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__number {
    display: block;
    margin-bottom: 4px;
    color: #858585;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #22954d;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    border-bottom: 1px solid #b1e2f7;
    color: #15a6e5;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #22954d;
      text-decoration: none;
    }
  }
}

.e-top {
  display: block;
  padding: 30px 0 50px;
  text-align: center;
  &__title {
    display: block;
    margin-bottom: 12px;
    color: #22954d;
    font-size: 40px;
    font-weight: 800;
  }
  &__sub-title {
    display: block;
    margin-bottom: 12px;
    color: #22954d;
    font-size: 30px;
    font-weight: 400;
  }
}

.e-goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px 0;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-bottom: 20px;
    padding: 35px 45px;
    box-shadow: 0 23px 55px 7px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background-color: #ffffff;
    &-gift {
      display: block;
      position: absolute;
      width: 100%;
      max-width: 100px;
      left: 35px;
      top: 35px;
      text-align: center;
      color: #f7434c;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      img {
        display: block;
        max-width: 100%;
        margin-bottom: 4px;
      }
      span,
      p {
        display: block;
        margin: 0;
      }
    }
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      height: 380px;
      margin-bottom: 25px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &-old {
      display: inline-block;
      color: #989999;
      font-size: 24px;
      font-weight: 800;
      text-decoration: line-through;
      text-transform: uppercase;
    }
    &-price {
      display: inline-block;
      padding: 12px 46px;
      border-radius: 3px;
      background-color: #ffd71c;
      color: #000000;
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &_hot {
      .e-goods__card-price {
        background-color: #ff414b !important;
        color: #ffffff !important;
      }
      &:before {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        content: 'хит продаж';
        width: 100%;
        max-width: 234px;
        min-height: 42px;
        top: 30px;
        right: 0;
        padding: 8px 20px;
        background: url('../images/best_bg.png') no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        z-index: 1;
      }
    }
  }
}

.e-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 45px;
    text-align: center;
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 240px;
      margin-bottom: 10px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      color: #494949;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.e-more {
  display: block;
  padding: 80px 0 35px 0;
  &__title {
    display: block;
    margin-bottom: 12px;
    color: #22954d;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    margin-bottom: 25px;
    text-align: center;
    &-gift {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 90px;
      height: 90px;
      right: 30px;
      top: 25px;
      border-radius: 999rem;
      box-shadow: 0 10px 21px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      text-align: center;
      color: #f7434c;
      font-size: 9px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      z-index: 1;
      img {
        display: block;
        max-width: 56px;
        margin-bottom: 2px;
      }
      span,
      p {
        display: block;
        margin: 0;
      }
    }
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 380px;
      margin-bottom: 20px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-old {
      display: block;
      margin-bottom: 14px;
      opacity: 0.67;
      color: #000000;
      font-size: 20px;
      font-weight: 800;
      text-decoration: line-through;
      text-transform: uppercase;
    }
    &-price {
      display: inline-block;
      padding: 12px 46px;
      border-radius: 3px;
      background-color: #ffd71c;
      color: #000000;
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

.e-how {
  display: block;
  padding: 70px 0 30px 0;
  &__title {
    display: block;
    margin-bottom: 64px;
    color: #22954d;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-block;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 240px;
    margin-bottom: 30px;
    text-align: center;
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin: 0;
      color: #494949;
      font-size: 20px;
      font-weight: 400;
      b,
      strong {
        font-weight: 600;
      }
    }
  }
}

.e-feedback {
  display: block;
  padding: 30px 0 80px 0;
  &__title {
    display: block;
    margin-bottom: 24px;
    color: #22954d;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}

.e-footer {
  display: block;
  padding: 55px 0;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    p {
      margin: 0;
    }
  }
  &__link {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #22954d;
      text-decoration: none;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__number {
    display: block;
    margin-bottom: 10px;
    color: #858585;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #22954d;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    border-bottom: 1px solid #b1e2f7;
    color: #15a6e5;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #22954d;
      text-decoration: none;
    }
  }
}

.e-gallery {
  display: block;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 20px 0 75px 0;
  .slick-prev {
    display: block;
    width: 22px;
    height: 43px;
    bottom: auto;
    top: 50%;
    left: 0;
    right: auto;
    margin-top: -21px;
    margin-left: -55px;
    background: url('../images/icon_prev.svg') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  .slick-next {
    display: block;
    width: 22px;
    height: 43px;
    bottom: auto;
    top: 50%;
    left: auto;
    right: 0;
    margin-top: -21px;
    margin-right: -55px;
    background: url('../images/icon_next.svg') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      img {
        filter: brightness(50%);
      }
      &:after {
        display: block;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.15s ease-out;
    }
    &:after {
      display: none;
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      background: url('../images/icon_zoom.svg') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
    }
  }
}

.e-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 20px 0;
  padding: 50px 0 70px 0;
  border-radius: 5px;
  background: url('../images/form_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    b,
    strong,
    span {
      color: #ffe259;
      font-weight: 800;
    }
  }
  &__sub-title {
    display: inline-block;
    position: relative;
    margin: 0 auto 40px auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      left: -110px;
      top: -6px;
      width: 85px;
      height: 40px;
      background: url('../images/icon_gift.png') no-repeat center;
      background-size: contain;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 725px;
  }
  &__form {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    p {
      display: block;
      margin-bottom: 14px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
    input[type='text'] {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 15px 25px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:focus {
        opacity: 0.95;
        text-decoration: none;
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 16px 30px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #31dc29;
      background-image: linear-gradient(to bottom, rgba(49, 220, 41, 0) 0%, #08aa00 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: scale(0.95);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__text {
    display: block;
    margin-bottom: 26px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__time {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      height: 90px;
      margin: 0 5px 10px 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 51px !important;
      font-weight: 800;
      line-height: 1;
      text-align: center;
    }
    &>div {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 800;
    }
  }
}

.e-happy {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px 0 20px 0;
  padding: 65px 70px 60px 70px;
  box-shadow: 0 23px 43px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: #fdfcf8;
  background: url('../images/form_2_bg.jpg') no-repeat center;
  background-size: cover;
  &__row {
    display: block;
    width: 100%;
    max-width: 495px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    color: #00a0e6;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 20px;
    color: #464646;
    font-size: 18px;
    font-weight: 500;
  }
  &__form {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    input[type='text'] {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 15px 25px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #eeeeee;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:focus {
        background: #ffffff;
        text-decoration: none;
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 16px 30px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #31dc29;
      background-image: linear-gradient(to bottom, rgba(49, 220, 41, 0) 0%, #08aa00 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: scale(0.95);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.e-only {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 20px 0;
  padding: 50px 0 70px 0;
  border-radius: 5px;
  background: url('../images/form_3_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    b,
    strong,
    span {
      color: #ffe259;
      font-weight: 800;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 725px;
  }
  &__form {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
     ::-webkit-input-placeholder {
      color: #0078ac;
    }
     ::-moz-placeholder {
      color: #0078ac;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #0078ac;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #0078ac;
    }
    p {
      display: block;
      margin-bottom: 14px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
    input[type='text'] {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 15px 25px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #0078ac;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:focus {
        opacity: 0.95;
        text-decoration: none;
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 16px 30px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background-color: #31dc29;
      background-image: linear-gradient(to bottom, rgba(49, 220, 41, 0) 0%, #08aa00 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: scale(0.95);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__text {
    display: block;
    margin-bottom: 26px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__time {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      height: 90px;
      margin: 0 5px 10px 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #0d9ddc;
      font-size: 51px !important;
      font-weight: 800;
      line-height: 1;
      text-align: center;
    }
    &>div {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 800;
    }
  }
}