@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .e-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .e-top__title {
    font-size: 32px;
  }
  .e-top {
    padding: 20px 0;
  }
  .e-goods {
    justify-content: space-around;
    padding: 5px 0 20px 0;
  }
  .e-goods__card-row {
    justify-content: space-around;
  }
  .e-goods__card {
    padding: 20px 30px;
  }
  .e-features {
    justify-content: space-around;
  }
  .e-form {
    padding: 20px;
  }
  .e-form__title {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .e-form__sub-title {
    margin-bottom: 20px;
    &:before {
      display: none;
    }
  }
  .e-form__time {
    margin: 10px auto;
  }
  .e-form__time span {
    width: 75px;
    height: 75px;
    font-size: 32px !important;
  }
  .e-form__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    &:div:first-child {
      width: 100%;
    }
  }
  .e-more {
    padding: 20px 0;
  }
  .e-more__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .e-more__cards {
    justify-content: space-around;
  }
  .e-gallery .slick-next {
    margin-right: 0;
    background-color: #fff;
  }
  .e-gallery .slick-prev {
    margin-left: 0;
    background-color: #fff;
  }
  .e-gallery {
    padding: 20px 0;
  }
  .e-happy {
    padding: 20px;
    background-position: right center;
  }
  .e-happy__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .e-happy__text {
    text-align: center;
  }
  .e-how {
    padding: 20px 0;
  }
  .e-how__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .e-how__cards {
    justify-content: space-around;
  }
  .e-how__card-image {
    margin-bottom: 15px;
  }
  .e-feedback {
    padding: 20px 0;
  }
  .e-only {
    margin: 0;
    padding: 20px;
  }
  .e-only__title {
    font-size: 32px;
  }
  .e-only__time {
    margin: 10px auto;
  }
  .e-only__time span {
    width: 75px;
    height: 75px;
    font-size: 32px !important;
  }
  .e-only__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    &:div:first-child {
      width: 100%;
    }
  }
  .e-footer {
    padding: 20px 0;
    &>.container {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .e-footer__number {
    margin: 10px 0 4px 0;
  }
  .e-header__logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (min-width: 1209px) {
  .container {
    max-width: 1200px;
  }
}